
<h2>Categories</h2>
<div>
  <input type="text" placeholder="Search" [(ngModel)]="searchInput" >
  <button class="btn btn-success" (click)="EditCategories()">Add</button>
</div>
<!-- <div style="display: flex; justify-content: space-around;">
  <button (click)="onNew()"> Add New</button>
</div> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
      </tr>
    </tbody>
  </table>


  <!-- <div *ngIf="isNew" class="add-category">
    <h3>Add New Category</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="categoryName">Category Name:</label>
        <input type="text" id="categoryName" name="name" ngModel required>
      </div>
      <button type="submit">Add Category</button>
    </form>
  </div> -->
