<nav class="navbar navbar-default">
  <div class="container d-flex justify-content-start ">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Mini Sonic</a>
      <a class="navbar-brand" routerLink="/ManageProduct/category" routerLinkActive="active">Products Management</a>
      <a class="navbar-brand" routerLink="/operations" routerLinkActive="active">Operation</a>

    </div>
  </div>
    <div >
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <a *ngIf="isAuthenticated" class="navbar-brand" style="cursor: pointer;" (click)="onLogout()">Logout</a>

      </ul>
    </div>

</nav>
