<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  class="navbar-brand">Mini Sonic</a>
      <a  class="navbar-brand" routerLink="./ManageProduct/category">Categories Product</a>
      <a  class="navbar-brand" routerLink="./operations">Operation</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
