.button-group {
  display: flex;
  gap: 10px;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.table {
  margin: 0 0 20px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  border-collapse: collapse;
}

.row {
  display: table-row;
  background-color: #f9f9f9; /* Light background color */
}

.row:nth-of-type(odd) {
  background-color: #eaeaea; /* Alternate background color */
}

.row.header {
  font-weight: 700;
  color: #fff;
  background-color: #5362ea; /* Header background color */
}

.row.green {
  background-color: #27ae60; /* Green background color */
}

.row.blue {
  background-color: #2980b9; /* Blue background color */
}

.cell {
  padding: 10px;
  display: table-cell;
  border: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
  .table {
    display: block;
    width: 100%;
  }

  .row {
    display: block;
    margin-bottom: 10px;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row.header .cell {
    display: none;
  }

  .cell {
    padding: 8px;
    display: block;
  }
}

.custom-select {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
}
