<div class="wrapper">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group mb-3">
      <label for="customerName">Customer Name:</label>
      <select id="customerName" name="customerName" [(ngModel)]="customerName" class="form-control" style="height: 30px;">
        <option value="">Select Customer</option>
        <option value="ahmed">ahmed</option>
        <option value="samer">samer</option>
      </select>
    </div>
    <div class="form-group">
      <label for="customerType">Customer Type:</label>
      <select id="customerType" name="customerType" [(ngModel)]="operationType" class="form-control" style="height: 30px;">
        <option [value]="0">Select Type</option>
        <option [value]="5">sales</option>
        <option [value]="6">Retutn</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Tax</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.discount }} %</td>
            <td>{{ item.tax }} %</td>
            <td>
              <input
                id="{{ i }}"
                [(ngModel)]="item.quantity"
                name="quantity_{{ item.id }}"
                type="number"
                (ngModelChange)="onChange()"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h4>Gross total {{ grossTotal }}</h4>
      <h4>Total Discount {{ totalDiscount }}</h4>
      <h4>Total Tax {{ totalTax }}</h4>
      <h4>Total {{ total }}</h4>
      <h4>Item Count {{ Count }} </h4>
      <h4>Total Count {{ itemCount }} </h4>
    </div>
    <p class="alert alert-danger" *ngIf="isSaveNotAvilable">{{ errorMassage }}</p>
    <div class="button-group">
      <button class="btn btn-success" type="submit">Save</button>
      <button class="btn btn-danger" type="button" (click)="onClear(f)">Clear</button>
    </div>
  </form>
</div>
